[submodule "website/themes/docsy"]
	path = website/themes/docsy
	url = https://github.com/google/docsy.git
[submodule "scripts/sip_to_eark_aip"]
	path = scripts/sip_to_eark_aip
	url = https://github.com/penwern/sip_to_eark_aip.git
[submodule "scripts/sip_to_am_transfer"]
	path = scripts/sip_to_am_transfer
	url = https://github.com/penwern/sip_to_am_transfer.git
[submodule "scripts/eark_aip_to_dip"]
	path = scripts/eark_aip_to_dip
	url = https://github.com/penwern/eark_aip_to_dip.git
